
.card {
  background-color: #f4f4f4;
  color: #333;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 500px;
}

form.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input[type="text"],
input[type="number"] {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  padding: 1rem 1rem;
  border-radius: 4px;
  border: 1px solid #888;
  background-color: #646cff;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #535bf2;
}

.expense-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.8rem;
  margin-bottom: 0.5rem;
  background-color: #eaeaea;
  border-radius: 6px;
}

.expense-actions {
  display: flex;
  gap: 0.5rem;
}

.summary-card {
  text-align: center;
}

@media (max-width: 480px) {
  .card {
    width: 90%;
    margin: 1rem auto;
  }
  .expense-card {
    flex-direction: column;
    align-items: flex-start;
  }
  .expense-actions {
    margin-top: 0.5rem;
  }
}
